<section>
	<% if flash[:notice].present? %>
		<div class="message">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<nav>
		<%= render 'homes/sidenav' %>
	</nav>
	<main>
		<div class="user-show-profile">
			<div>
				<div class="user-show-row">
					<%= attachment_image_tag @user, :profile_photo, format: 'jpg', fallback: "user_no_image.png", size: "60x60", class:"profile-photo" %>
					<ul class="user-btns">
						<li><%= link_to 'ノート', root_path, class:"btn" %></li>
						<li><%= link_to 'フォロワー', root_path, class:"btn" %></li>
						<li><%= link_to 'フォロー中', root_path, class:"btn" %></li>
						<% if @user == current_user %>
							<li><%= link_to 'プロフィールを編集する', edit_user_path(@user), class:"btn edit-profile" %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="username">
				<%= @user.name %>
			</div>
			<div>
				<%= @user.introduction %>
			</div>
		</div>

		<div class="user-show-notes">
			<div class="user-notes-count">
				<i class="far fa-edit"></i> ワークアウトノート ( <%= @user.notes.count %> )
			</div>
			<ul class="notes-list">
				<% @user.notes.each do |note| %>
				<li><i class="far fa-file-alt"></i> <%= link_to note.name, note_path(note) %></li>
				<% end %>
			</ul>
		</div>
	</main>
</section>
