<div class="container">
	<div class="row">
		<div class="user-profile">
			<div>
				<%= attachment_image_tag @user, :profile_photo, format: 'jpg', fallback: "user_no_image.png", size: "60x60", class:"profile-photo" %>
			</div>
			<div>
				<strong><%= @user.name %></strong>
			</div>
			<div>
				<%= @user.introduction %>
			</div>
			<% if @user == current_user %>
				<%= link_to 'プロフィールを編集', edit_user_path(@user) %>
			<% end %>
		</div>
		<span class="user-notes-count">
			<i class="far fa-edit"></i> ワークアウトノート数: <%= @user.notes.count %>
		</span>
		<ul class="notes-list">
			<% @user.notes.each do |note| %>
			<li><i class="far fa-file-alt"></i> <%= link_to note.name, note_path(note) %></li>
			<% end %>
		</ul>
	</div>
</div>
